.sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--primary);
}

.sidenav-content-body {
    width: 100%;
}

.divider-nav {
    cursor: e-resize;
    border-width: var(--border-width-divider) !important;
    border-color: var(--divider) !important;
    height: 100%;
    z-index: 100;
    transition: all .2s ease-in-out;
}

.divider-nav:hover {
    border-width: var(--border-width-divider-hover) !important;
    border-color: var(--tretiary) !important;
}