<div class="sidenav-content" [style]="'display: flex;flex-direction: row;width:'+(width)+ 'px !important'">
    <div class="sidenav-content-body" [style]="'width:'+(width - 2)+ 'px !important'">
        <!-- <app-tree-code></app-tree-code> -->
        <router-outlet></router-outlet>
        <!-- <p>Auto-resizing sidenav</p>
        @if (showFiller) {
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
        }
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button> -->
    </div>
    <mat-divider (dragend)="handleDrag($event)" class="divider-nav" [draggable]="true"  [vertical]="true"></mat-divider>
</div>