<div>aaa</div>

<mat-drawer #drawer class="example-sidenav" [style]="'width:'+width+ 'px !important'" mode="side">
    <div class="sidenav-content">
        <div class="sidenav-content-body">
            <p>Auto-resizing sidenav</p>
            @if (showFiller) {
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
            }
            <button (click)="showFiller = !showFiller" mat-raised-button>
                Toggle extra text
            </button>
        </div>

        <mat-divider (drag)="handleDrag($event)" class="divider-nav" [draggable]="drawerOpen"  [vertical]="true"></mat-divider>
    </div>

</mat-drawer>